body {
  background-color: #f0f4f9;
}

.bg-white {
  background-color: white;
}

#main-logo {
  width: auto;
  height: 44px;
}

#main-logo-block {
  padding: 10px;
}

#nav {
  overflow: hidden;
  background: #485667;
  padding: 10px 0px;
}

.nav-menu {
  padding: 10px;
  margin: 0px 5px;
  background-color: #7e8f9f;
  float: left;
}
.nav-option {
  float: right;
  text-align: right;
}

.spinner {
  font-size: 30px;
  color: #ffcb00;
}

#contents {
  padding: 10px;
  clear:left;
}

.add-button {
  padding: 10px 0 20px;
  /* margin-top: 20px; */
}

.alert {
  color: red;
}

.card {
  /* background-color: #cbcbcc; */
}

.modal-card {
  background-color: #FFFFFF;
  border: 0;
}

.no-border-card{
  border: 0;
}

.table {
  background-color: #fff;
}

.counter-table {
  background-color: #dbdbd9 !important;
}

.table-note {
  white-space: pre;
}

.tabs .tab-content {
  padding: 10px;
  background: #b5c8d7;
}

.tabs .nav-tabs .nav-link.active {
  background-color: #b5c8d7;
  border: none;
}

.tabs .nav-tabs .nav-link {
  margin-right: 4px;
  color: black;
  border: none;
  background-color: #d6e1ea;
}

.right-button {
   float: right !important;
}

.learning-progress{
  margin-top: 10px;
}

.mail-preview{
  margin-top: 10px;
}

.preview-body{
  overflow: auto;
  height: 400px;
  border: 1px #ced4da solid;
}

h3 {
  margin-bottom: 10px;
}

table#attr-table > thead {
    display:none !important;
}

table#attr-table{
  white-space: nowrap;
}

table#attr-table > tbody > tr >td{
  min-width: 100px;
}
